body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    background: url('https://www.transparenttextures.com/patterns/robots.png'), #e0f7fa;
  }
  
  .header {
    background-color: #3498db; /* Light blue to match the site */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 2rem;
    color: white; /* Yellow for contrast */
    margin: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 10px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
    font-size: 1rem;
  }
  
  .nav a:hover {
    color: #f1c40f; /* Yellow on hover for contrast */
  }
  
  .theme-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .theme-toggle i {
    transition: color 0.3s;
  }
  
  .main {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #3498db;
  }
  
  .project-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project-list li {
    margin-bottom: 10px;
    color: #666;
    
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons i {
    font-size: 30px;
    color: #333;
    transition: color 0.3s;
  }
  
  .social-icons i:hover {
    color: #3498db; /* Light blue on hover */
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #2980b9; /* Slightly darker blue */
    color: #fff;
    transition: background-color 0.5s;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    background: url('https://www.transparenttextures.com/patterns/robots.png'), #2c2c2c;
  }
  
  body.dark-mode .header {
    background-color: #1f1f1f;
  }
  
  body.dark-mode .section {
    background-color: rgba(50, 50, 50, 0.8);
  }
  
  body.dark-mode .footer {
    background-color: #1f1f1f;
  }
  
  body.dark-mode .nav a {
    color: #e0e0e0;
  }
  
  body.dark-mode .social-icons i {
    color: #e0e0e0;
  }
  